<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
    <add name="QLBDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4E4L6KQ\SQLEXPRESS;initial catalog=QLBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="QLBD_1.Properties.Settings.QLBDConnectionString" connectionString="Data Source=DESKTOP-4E4L6KQ\SQLEXPRESS;Initial Catalog=QLBD;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>